h1 {
  padding: 0 0 1rem 0;
}

.hero-body {
    padding: 7rem 0 1rem 0;
}

.navbar {
    background-color: #b180d3 !important; 
}

.navbar-item {
    color: #000 !important; 
    font-size: larger;
}

.navbar-brand .navbar-item img {
    max-height: 50px;
    width: auto;
    object-fit: contain;
}

.navbar-burger {
    margin-top: auto;
    margin-bottom: auto;
}

#home{
  background: #f9f9f9;        
}

#fullscreen-logo {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    transition: opacity 1s ease-out;
}

#fullscreen-logo img {
  max-width: 50vw;
  max-height: 50vh;
}

.hidden {
  opacity: 0;
  pointer-events: none;
}

.carousel {
  position: relative;
  overflow: hidden;
  width: 100%;
  max-width: 1500px;
  margin: auto;
}
.carousel-track {
  display: flex;
  transition: transform 0.5s ease-in-out;
}
.carousel-track img {
  width: calc(100% / 3);
  flex: 0 0 auto;
  padding: 7px;
}

.prev {
  left: 10px;
}

.next {
  right: 10px;
}

.about-box {
  padding: 20px;
  border-radius: 2px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1), 0 1px 3px rgba(0, 0, 0, 0.06);
}

.zoomable-img {
  cursor: pointer;
  border-radius: 3px;
  transition: transform 0.3s ease;
}

.zoomable-img.zoomed {
  transform: scale(1.2);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.2);
  z-index: 1000;
}

#about p {
  padding: 0 100px 0 100px;
  font-size: larger;
}

.card-content{
  border: 2px solid #8a8787;
  padding: 15px 30px;
  border-radius: 8px;
  box-shadow: 0 0 5px #b180d3;
}

.columns.is-multiline {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
}

.column.is-half-tablet.is-one-quarter-desktop {
  display: flex;
}

.column.is-half-tablet.is-one-quarter-desktop .card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.card-content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#contact {
  background: #f9f9f9;        
}

#contact .columns {
  margin-bottom: 3rem;
  text-align: center;
}

#contact .column h3.subtitle {
  margin-bottom: 3rem;
  color: #543669;         
  font-weight: bold;
}

#contact .column p {
  font-size: 1.1rem;
  line-height: 1.6;
  text-align: left;
  margin-left: 15rem;
}

#contact .box {
  box-shadow: 0 5px 6px rgba(0,0,0,0.1);
  border-radius: 8px;
  overflow: hidden;          
}

#contact .box h3.subtitle {
  color: #543669;         
  font-weight: bold;
  padding: 1rem;
  margin-bottom: 1rem;
  text-align: center;
}

.footer{
  padding: 25px 0 40px 0;
}

@media screen and (max-width: 1024px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
  }
  .hero-body {
    padding: 0;
  }
  .carousel-track img {
    width: calc(100% / 2);
  }
  #about p {
    padding: 0 50px;
  }
  #contact .column p {
    margin-left: 5rem;
  }
}

@media screen and (max-width: 768px) {
  .navbar-menu {
    display: none;
  }
  .navbar-burger {
    display: block;
  }
  .hero-body {
    padding: 7rem 0 1rem 0;
  }
  .carousel-track img {
    width: 100%;
  }
  .columns {
    flex-direction: column;
  }
  #about p {
    padding: 0 20px;
  }
  #contact .column p {
    margin-left: 1rem;
    text-align: center;
  }
  #contact .column h3.subtitle {
    padding: 0;
    margin-bottom: 1rem;
  }
}
